@import "tailwindcss";

:root {
    --background: #171717;
    --foreground: #ffffff;
}

@theme inline {
    --color-background: var(--background);
    --color-foreground: var(--foreground);

    --font-sans: var(--font-whyte-plus);
    --font-silkscreen: var(--font-silkscreen);
    --font-inconsolata: var(--font-inconsolata);

    --color-ph-yellow: #ffee00;
    --color-ph-amber: #fbcb3b;
    --color-ph-purple: #7e3cff;
}

.border-rainbow {
    border-image-source: linear-gradient(
        to right in oklch,
        #ffb700 0.39%,
        #57ffd5 53.09%,
        #aa2200 94.85%
    );
    border-image-slice: 1;
}

@keyframes slideRightFromEnd {
    from {
        transform: translateX(var(--radix-toast-swipe-end-x));
    }
    to {
        transform: translateX(100%);
    }
}

@keyframes slideInFromRight {
    from {
        transform: translateX(100%);
    }
    to {
        transform: translateX(0);
    }
}

@keyframes slideOutToRight {
    from {
        transform: translateX(0);
    }
    to {
        transform: translateX(100%);
    }
}
