@import "tailwindcss";

:root {
    --background: #171717;
    --foreground: #ffffff;
}

@theme inline {
    --color-background: var(--background);
    --color-foreground: var(--foreground);

    --font-sans: var(--font-whyte-plus);
    --font-silkscreen: var(--font-silkscreen);
    --font-inconsolata: var(--font-inconsolata);

    --color-ph-yellow: #ffee00;
    --color-ph-amber: rgb(253, 211, 74);
    --color-ph-purple: #7e3cff;
}

@keyframes slideRightFromEnd {
    from {
        transform: translateX(var(--radix-toast-swipe-end-x));
    }
    to {
        transform: translateX(100%);
    }
}

@keyframes slideInFromRight {
    from {
        transform: translateX(100%);
    }
    to {
        transform: translateX(0);
    }
}

@keyframes slideOutToRight {
    from {
        transform: translateX(0);
    }
    to {
        transform: translateX(100%);
    }
}
